*~
*.cmi
*.cmt
*.cmti
*.cmo
*.cma
*.cmx
*.o
*.cmxa
*.cmxs
*.a
*.annot
*.so
*.pmap
*.err
*.exe
*.tmp

Makefile.conf
config.cppo
setup.save

ocamlnet.install

code/src/netplex/netplex_ctrl_aux.ml
code/src/netplex/netplex_ctrl_aux.mli
code/src/netplex/netplex_ctrl_clnt.ml
code/src/netplex/netplex_ctrl_clnt.mli
code/src/netplex/netplex_ctrl_srv.ml
code/src/netplex/netplex_ctrl_srv.mli
code/src/netplex/netplex-admin
code/src/netplex/netplex_types.ml

code/src/netstring/netconst.ml
code/src/netstring/netglob_lex.ml
code/src/netstring/netmappings_asn1.ml
code/src/netstring/netunichar.ml
code/src/netsys/config.h
code/src/netsys/netsys_conf.ml
code/src/netsys/netsys_types.ml
code/src/rpc-auth-local/config.h
code/src/rpc-auth-local/config.h
code/src/rpc-generator/ocamlrpcgen
code/src/rpc-generator/parser.ml
code/src/rpc-generator/parser.mli
code/src/rpc-generator/config.ml

code/src/rpc/rpc_auth_gssapi_aux.ml
code/src/rpc/rpc_auth_gssapi_aux.mli
code/src/rpc/rpc_portmapper_aux.ml
code/src/rpc/rpc_portmapper_aux.mli
code/src/rpc/rpc_portmapper_clnt.ml
code/src/rpc/rpc_portmapper_clnt.mli

code/src/netsys/tmp/
code/src/netunidata/netdb/
code/src/netunidata/netdb_done
code/src/netunidata/netunichecksums.ml
code/src/netunidata/netuniconfig.ml
code/src/netunidata/netmappings_*.ml

code/src/*/META
code/src/*/depend
code/src/*/*-packlist

code/tools/cppo-0.9.4/cppo
code/tools/cppo-0.9.4/cppo-ocamlnet
code/tools/cppo-0.9.4/cppo_lexer.ml
code/tools/cppo-0.9.4/cppo_parser.ml
code/tools/cppo-0.9.4/cppo_parser.mli
code/tools/cppo-0.9.4/cppo_version.ml
code/tools/unimap_to_ocaml/unimap_to_ocaml

code/tmp/

code/src/netsys/configtests/atfunctions
code/src/netsys/configtests/atfuns_mkfifoat
code/src/netsys/configtests/clock_gettime
code/src/netsys/configtests/epoll_create
code/src/netsys/configtests/eventfd
code/src/netsys/configtests/fchdir
code/src/netsys/configtests/fdopendir
code/src/netsys/configtests/gcc_compare_and_swap
code/src/netsys/configtests/getifaddrs
code/src/netsys/configtests/grantpt
code/src/netsys/configtests/initgroups
code/src/netsys/configtests/ocaml_fancy_page_tables
code/src/netsys/configtests/posix_fadvise
code/src/netsys/configtests/posix_fallocate
code/src/netsys/configtests/posix_memalign
code/src/netsys/configtests/posix_openpt
code/src/netsys/configtests/posix_pthread
code/src/netsys/configtests/posix_sem_anon
code/src/netsys/configtests/posix_sem_named
code/src/netsys/configtests/posix_shm
code/src/netsys/configtests/posix_spawn
code/src/netsys/configtests/realpath
code/src/netsys/configtests/syslog
code/src/netsys/configtests/timer_create
code/src/netsys/configtests/timerfd
code/src/netsys/configtests/weak_modify

code/tests/rpc-generator/xdr/convtest1
code/tests/rpc-generator/xdr/convtest1_aux.ml
code/tests/rpc-generator/xdr/convtest1_aux.mli
code/tests/rpc-generator/xdr/convtest1_bigint
code/tests/rpc-generator/xdr/convtest1_bigint.xdr
code/tests/rpc-generator/xdr/convtest1_bigint_aux.ml
code/tests/rpc-generator/xdr/convtest1_bigint_aux.mli
code/tests/rpc-generator/xdr/convtest2
code/tests/rpc-generator/xdr/convtest2_aux.ml
code/tests/rpc-generator/xdr/convtest2_aux.mli
code/tests/rpc-generator/xdr/convtest3
code/tests/rpc-generator/xdr/convtest3_aux.ml
code/tests/rpc-generator/xdr/convtest3_aux.mli
code/tests/rpc-generator/xdr/convtest4
code/tests/rpc-generator/xdr/convtest4_aux.ml
code/tests/rpc-generator/xdr/convtest4_aux.mli
code/tests/rpc-generator/xdr/convtest4_bigint
code/tests/rpc-generator/xdr/convtest4_bigint.xdr
code/tests/rpc-generator/xdr/convtest4_bigint_aux.ml
code/tests/rpc-generator/xdr/convtest4_bigint_aux.mli
